# SHARK ATTACK - DATA CLEANING

In [1]:
import pandas as pd
import numpy as np

In [5]:
!head data/attacks.csv

Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex ,Age,Injury,Fatal (Y/N),Time,Species ,Investigator or Source,pdf,href formula,href,Case Number,Case Number,original order,,
2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and paddle damaged",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303,,
2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely ,F,11,Minor injury to left thigh,N,14h00  -15h00,,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302,,
2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301,,
2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,,Minor injury to lower leg,N,,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300,,
2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos ,M,,Lacerations to leg & hand shark PROVOKED INCIDENT,N,,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299,,
2018.06.03.b,03-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris …,M,,"No injury, board bitten",N,,,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.03.b-FlatRock.pdf,2018.06.03.b,2018.06.03.b,6298,,
2018.06.03.a,03-Jun-2018,2018,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva ,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.03.a-daSilva.pdf,2018.06.03.a,2018.06.03.a,6297,,
2018.05.27,27-May-2018,2018,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.05.27-Ponce.pdf,2018.05.27,2018.05.27,6296,,
2018.05.26.b,26-May-2018,2018,Unprovoked,USA,Florida,"Cocoa Beach, Brevard  County",Walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_directory/2018.05.26.b-High.pdf,2018.05.26.b,2018.05.26.b,6295,,

In [43]:
#read the .csv data file
#encoding is 'latin-1', if leave encoding at default value, it gives error
df_attacks = pd.read_csv('data/attacks.csv', encoding='latin-1')

In [25]:
pd.set_option('display.max_columns', None) #display all columns
df_attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [19]:
df_attacks['Unnamed: 22'].value_counts()

stopped here    1
Name: Unnamed: 22, dtype: int64

In [20]:
df_attacks['Unnamed: 23'].value_counts()

Teramo             1
change filename    1
Name: Unnamed: 23, dtype: int64

**Note 1: Columns 22 and 23 are useless, no valid information because it has only one or two non-null values.**

In [22]:
df_attacks.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,6300.0,1927.272381,281.116308,0.0,1942.0,1977.0,2005.0,2018.0
original order,6309.0,3155.999683,1821.396206,2.0,1579.0,3156.0,4733.0,6310.0

There is no much useful information with this `describe()`. Actually, the best information is that the most recent attack registered in this dataset ocurred in 2018, but so far, it is not possible to know which year was the first attack from this dataset.

The `original order` also does not add anything meaningful.

In [24]:
#checking how many duplicateds
df_attacks.duplicated().sum()

19411

Lots of dupes: **19411**

---
### Start cleaning

In [44]:
#droping duplicates
df_attacks.drop_duplicates(inplace=True)

#droping useless columns for exploratory analysis
columns_to_drop = ['Case Number', 'Name', 'Investigator or Source', 'pdf', 'href formula','href',\
                   'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']
df_attacks.drop(columns=columns_to_drop, inplace=True)

In [45]:
#cleaning to analyse only the last 50 years of records
df_attacks.query('1968 <= Year <= 2018', inplace=True)
df_attacks

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,17-Jan-1968,1968.0,Unprovoked,PAPUA NEW GUINEA,Morobe Province,Finschafen,Swimming,NaN,13,FATAL,Y,17h30,NaN
3489,1968,1968.0,Unprovoked,COSTA RICA,Limón Province,Parismina,Swimming after his canoe capsized,M,NaN,FATAL,Y,NaN,NaN
3490,1968,1968.0,Invalid,USA,Florida,"Key West, Monroe County",Diving,NaN,NaN,"Recovered, said to involve a 1m nurse shark",NaN,13h00,Questionable incident
3491,1968,1968.0,Invalid,USA,Florida,"Jensen Beach, Martin County",Surfing,NaN,NaN,NaN,NaN,17h00,Questionable incident
3888,16-Jul-1961,1971.0,Unprovoked,TURKEY,Anatolia,"?nciralti Beach, ?zmir",Swimming,M,16,Left leg injured,N,NaN,NaN

In [50]:
#saving new clean .csv
df_attacks.to_csv('data/attacks_cleaned.csv', index=False)

In [51]:
#testing the new file
pd.read_csv('data/attacks_cleaned.csv')

,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3487,17-Jan-1968,1968.0,Unprovoked,PAPUA NEW GUINEA,Morobe Province,Finschafen,Swimming,NaN,13,FATAL,Y,17h30,NaN
3488,1968,1968.0,Unprovoked,COSTA RICA,Limón Province,Parismina,Swimming after his canoe capsized,M,NaN,FATAL,Y,NaN,NaN
3489,1968,1968.0,Invalid,USA,Florida,"Key West, Monroe County",Diving,NaN,NaN,"Recovered, said to involve a 1m nurse shark",NaN,13h00,Questionable incident
3490,1968,1968.0,Invalid,USA,Florida,"Jensen Beach, Martin County",Surfing,NaN,NaN,NaN,NaN,17h00,Questionable incident
3491,16-Jul-1961,1971.0,Unprovoked,TURKEY,Anatolia,"?nciralti Beach, ?zmir",Swimming,M,16,Left leg injured,N,NaN,NaN

---
### Some pre-analysis

In [52]:
df_attacks['Type'].value_counts()

Unprovoked      2727
Invalid          282
Provoked         262
Boating           92
Boat              70
Sea Disaster      54
Questionable       2
Boatomg            1
Name: Type, dtype: int64

Not clean yet.

`Boating`, `Boat` and `Boatomg` should be only one thing.

---

In [53]:
df_attacks['Country'].value_counts()

USA             1629
AUSTRALIA        587
SOUTH AFRICA     368
BRAZIL           103
BAHAMAS           85
                ...
Seychelles         1
LIBERIA            1
MEXICO             1
HONDURAS           1
TURKEY             1
Name: Country, Length: 120, dtype: int64

Certainly `MEXICO` has more than 1 register.

In [65]:
len(df_attacks[df_attacks['Country'] == 'MEXICO '])

1

In [64]:
len(df_attacks[df_attacks['Country'] == 'MEXICO'])

41

---

In [66]:
df_attacks['Activity'].value_counts()

Surfing                              948
Swimming                             441
Spearfishing                         220
Fishing                              171
Wading                               114
                                    ...
Fishing, standing in 2' of water       1
Petting captive sharks                 1
Swimming (using a float)               1
Killing  sharks                        1
Swimming after his canoe capsized      1
Name: Activity, Length: 609, dtype: int64

Too many `Activity` types. This must be simplified if it is to be used to answer the business question.

---

In [69]:
df_attacks['Sex '].value_counts()

M      2757
F       482
M         2
lli       1
Name: Sex , dtype: int64

This column also need to be treated.
1. The name of the column should be renamed;
2. Just one kind of `M`;
3. If `lli` has no meaning it is better to be left as NaN.

---

In [72]:
df_attacks['Age'].value_counts()

17          101
16           94
20           93
19           91
15           87
           ...
84            1
              1
30 or 36      1
6½            1
9 & 12        1
Name: Age, Length: 119, dtype: int64

This column should be `int` type.

---

In [73]:
df_attacks['Injury'].value_counts()

FATAL                                                                    244
Foot bitten                                                               64
Survived                                                                  59
Left foot bitten                                                          46
No injury                                                                 44
                                                                        ...
No injury, shark struck kayak, catapulting him into the water              1
No injury, shark tore his swim fin                                         1
No injury to occupants -  shark became entangled in aft rudder             1
Reports said a shark attacked the dinghy, but Vickery said it did not      1
Left leg injured                                                           1
Name: Injury, Length: 2137, dtype: int64

Too many `Injury` types. This must be simplified if it is to be used to answer the business question.

---

In [74]:
df_attacks['Fatal (Y/N)'].value_counts()

N          2804
Y           388
UNKNOWN      29
M             1
2017          1
Name: Fatal (Y/N), dtype: int64

`M` probably `N` (typing error).

`2017` as `UNKNOWN`, unless the `Injury` gives a clue if it was fatal or not.

---

In [75]:
df_attacks['Time'].value_counts()

Afternoon              128
11h00                   94
Morning                 91
15h00                   81
16h00                   71
                      ...
14h30 / 15h30            1
"Evening"                1
Just before sundown      1
1300                     1
Daytime                  1
Name: Time, Length: 309, dtype: int64

I don't know how to deal with it. I'll probably not use this column...

---

In [76]:
df_attacks['Species '].value_counts()

White shark                                           123
Shark involvement not confirmed                        72
Shark involvement prior to death was not confirmed     57
Tiger shark                                            49
Invalid                                                44
                                                     ...
White shark, 2m                                         1
Lemon shark, >1 m                                       1
Bull shark, 10'                                         1
White shark, 3m                                         1
1.5 m to 1.8m [5' to 6'] shark                          1
Name: Species , Length: 1067, dtype: int64

Once again, I don't know how to deal with this column, and probably I'll not use this for analysis.
But very interesting statements poped up here: `Shark involvement not confirmed`, and `Shark involvement prior to death was not confirmed`. Theses statements makes its rows not reliable to count as a record of shark attack and must be dropped.

Deeper and further analysis should be done in this column to check if there is need for more row drops.

---